{% extends "default.html" %}
{% block title %}Select a Stocklist and Show the Contents{% endblock %}
{% block header %}Select a Stocklist and Show the Contents:{% endblock %}
{% block content %}
    <form method="POST" action="do_delete_stocklist">
        <table class="data_entry_form">
            <tr><th><label></label>Stocklists:</th><td>
                {% set select_name = "stocklist" %}
                {% include "select_stocklist.html" %}
            </td></tr>
            <tr><th colspan="2"><button type="submit">Delete</button></th></tr>
        </table>
    </form>
{% endblock %}
