{% extends "default.html" %}
{% block title %}Delete a stock{% endblock %}
{% block header %}Select a Stock and delete it:{% endblock %}
{% block content %}
    <form method="POST" action="do_delete_stock">
        <table class="data_entry_form">
            <tr><th><label></label>Stock:</th><td>
                {% set select_name = "stock" %}
                {% include "select_stock.html" %}
            </td></tr>
            <tr><th colspan="2"><button type="submit">Delete</button></th></tr>
        </table>
    </form>
{% endblock %}
